*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
main{
    display: flex;
    justify-content: center;
}
.blocoPrincipal{
    width: 20%;
    margin-top: 50px;
    border: solid 1px rgb(199, 197, 197);
    border-radius: 10px;
    padding: 10px;
}
.letras{
    color: blue;
    margin-top: 10px;
}
.imagen{
    display: flex;
    justify-content: center;
}