*{
    margin: 0;
    padding: 0;
}

.superior{
    width: 99%;
    height: 100px;
    display: flex;
    /* background-color: gray; */
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 5px;
}
.cores{
    display: flex;
}
.bloco01{
    width: 20%;
    height: 100px;
    border-radius: 10px;
    background-color: red;
    margin: 5px;
}
.bloco02{
    width: 20%;
    height: 100px;
    border-radius: 10px;
    background-color:yellow;
    margin: 5px;
}
.bloco03{
    width: 20%;
    height: 100px;
    border-radius: 10px;
    background-color: green;
    margin: 5px;
}
.bloco04{
    width: 20%;
    height: 100px;
    border-radius: 10px;
    background-color: blue;
    margin: 5px;
}
.bloco05{
    width: 20%;
    height: 100px;
    border-radius: 10px;
    background-color: black;
    margin: 5px;
}