#exemplo01 {
    background-color: blue;
    color: #fff;
    width: 500px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-right: 10px; 
}
#exemplo02 {
    background-color: red;
    color: #fff;
    width: 500px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-right: 10px; 
}